#weather-container {
    width: 600px;
    height: 200px;
    
}
#forecast {
    width: fit-content;
}
.forecast-card {
background-color: cornflowerblue;
color: white;
font-weight: 700;
font-size: larger;
}
.weatherEl p {
    font-weight: 700;
}
.current-city {
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: cornflowerblue;
}
